@tailwind base;
@tailwind components;
@tailwind utilities;

.time-selection-container {
    max-height: 250px; /* Adjust the maximum height as needed */
    overflow-y: auto;
    
  }
.main_cont{
  max-height: 400px;
  overflow-y: auto;
  max-width: 740px;
}
.form_cont{
  max-height: 400px;
  overflow-y: auto;
  
}
.logo_link_size{
  width: 40px;
  height: 40px;
  margin-top: 25px;
  border-radius: 50%;
  margin-left: 10px;
  
}
.required-field::before {
  content: "*";
  color: red;
  float: right;
}
.logo{
  min-width: 80px;
  min-height: 80px;
}